/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Variables */
:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --veryDarkBlue: hsl(234, 12%, 34%);
    --grayisBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);

    --fontFamily:'Poppins', sans-serif;
}

/* Generals */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*{
    margin: 0;
    bottom: 0;
}

body{
    font-family: var(--fontFamily);
    font-size: 1.5rem;
    box-sizing: border-box;
    color: var(--veryDarkBlue);
    background-color: var(--veryLightGray);
}

h1{
    font-weight: 200;
    font-size: 2.4rem;
    margin: 0;
}

h2{
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

header{
    text-align: center;
}

header p{
    font-size: 1.6rem;
    color: var(--grayisBlue);
    margin-bottom: 7rem;
    margin-top: 1rem;
}

/* Start styles Mobile first */
.container{
    margin: 9rem 3rem;
}

/* Header Mobile first */

.attribution { 
    font-size: 11px; text-align: center; 
}

/* Cards container mobile first */
.card-container{
    max-width: 50rem;
    margin: 0 auto;
}

.cards{
    border-radius: 0.8rem;
    background-color: var(--veryLightGray);
    box-shadow: 3px 10px 10px var(--grayisBlue);

    margin-bottom: 3rem;

    min-width: 31rem;
    max-width: 50rem;
    height: 22.2rem;

    overflow: hidden;
}

.card1 .line{
    background-color: var(--Cyan);
    height: 0.4rem;

}

.card2 .line{
    background-color: var(--Red);
    height: 0.4rem;
}

.card3 .line{
    background-color: var(--Orange);
    height: 0.4rem;
}

.card4 .line{
    background-color: var(--Blue);
    height: 0.4rem;
}

.content{
    padding: 3rem;
}

.content h3{
    margin-top: 0;
}

.content p{
    color: var(--grayisBlue);
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.image{
    text-align: right;
}

/* Footer */
.attribution a {
    color: var(--Blue);    
}

/* Start Desktop deign */
@media (min-width: 600px) {
    header{
        max-width: 52.5rem;
        margin: 0 auto;
    }

    h1{
        font-size: 3.8rem;
    }

    h2{
        font-size: 3.8rem;
    }
}

@media (min-width: 780px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;

        max-width: 90rem;
    }

    .two-cards{
        grid-column: 2/3;
        grid-row: 1/3;
    }
}